.graphic-tab {
  width: 100%;
  display: block;
  background: #ffffff;
  padding: 0px;
  border-bottom: #b7b7b7 1px solid;
}

.page-text {
  padding: 10px;
}

.event-head {
  display: flex;
  flex-direction: row; 
  border-bottom: 1px dashed #b7b7b7;
  justify-content: space-between;
  padding: 10px;
  font-size: 11px;
}
.event-head__name{
  display: flex;
  flex-direction: row; 
}

.event-head__name-ticker {
 padding: 0px 10px 0px 0px; 
}

.event-date {
  font-weight: 600;  
  padding: 10px;
  font-size: 12px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;  
}

.dashboard-item { 
  border: 1px #eeeeee solid;
  justify-content: space-between;
  display: flex;
  flex-direction: row;  
  margin: 0px 0px 15px 0px;
}
.dashboard-item-image {
  display: block;
  width: 200px;
  height: 140px;
  background: #ffffff;
  border-right: 2px #eeeeee solid;
  vertical-align: middle;
  /* text-align: center; */
  /* line-height: normal; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  position: relative;
}
.dashboard-item-image img{
  vertical-align: middle;
  max-width: 150px;
  max-height: 135px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  display: flex;
}

.dashboard-item-description { 
  width: 550px;
  height: 120px;
  display: block;
  padding: 10px;

}
.dashboard-item-change { 
  width: 200px;
  height: 140px; 
}
 
.dashboard-item-description-head {
  justify-content: space-between;
  display: flex;
  flex-direction: row;  
  padding: 0px 0px 5px 0px;
}
.dashboard-item-description-head__price{
  font-size: 19px;
  font-weight: 500;
  color:#91a3a8;
  letter-spacing: 0.5px;
  padding: 0px 10px 0px 0px;
}
.dashboard-item-description-head__price .price-red{
  font-size: 15px;
  font-weight: 600;
   
}
.dashboard-item-description-head__name { 
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-weight: 600;
  font-size: 19px;
  color:#91a3a8;
}
.dashboard-item-description-head__name a { 
  text-decoration: none;
}
.dashboard-item-description-head__name a:hover { 
  color:#790896;
}


.dashboard-item-description-text {
  width: 100%; 
  letter-spacing: 5px;
  letter-spacing: 0.3px;
  height: 65px;
  font-size: 15px;
  line-height: 1.5;
  line-height: 1.3;
}

.dashboard-item-description-controll {
 
  padding: 0px 10px 0px 0px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
.dashboard-item-description-controll a {
  text-decoration: none;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.dashboard-item-chang__chart-info {
  position: absolute;

}
.dashboard-item-chang__chart {
  padding: 40px 0px 0px 0px; 
}

.dashboard-item-chang__chart-info__price {
  display: flex;
  margin: auto;
  /* background: aqua; */
  width: min-content;
  padding: 10px 0px 0px 0px;
}
.dashboard-chart-info__cost {
  color: #ffffff;
  padding: 1px 3px;
  border-radius: 3px;
  text-align: center; 
} 
.dashboard-chart-info__cost, .dashboard-chart-info__cost-time {
 
  display: inline;

}

.dashboard-item-chang__chart-info__title {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}
.dashboard-chart-info__cost-time {
   
  padding: 3px 10px;
  font-size: 14px;
  width: 70px;
}
.dashboard-cost-plus {
  background: #a0c0a6;
}
.dashboard-cost-minus {
  background: #c0a0b5;
}
.dashboard-chart {
  width: 200px;
  height: 50px;
}



.button-color {
  color: "#6a6867";
  border-color: "#6a6867";
}


.textfild {
  padding: 3px;
}

.row-form {
  padding: 10px 0px 10px 0px;
}

.row-form-line div {
  display: inline;
}
 
.form-block-25 {
  width: 50%;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;

}
.form-block-25 label{ 
  display: inline;
  width: 200px;
  text-align: right;
  padding: 7px 10px 0px 10px;
  font-size: 15px;
} 


.form-select {
  width:56%; 
  z-index: 10;
}
.row-line-block {
  
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}


.form-block-100{
  width:100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}


.form-block-100 label{ 
  display: inline;
  width: 250px;
  text-align: right;
  padding: 5px 10px 0px 10px;
  font-size: 15px;
} 

.form-block-100 input {  
  width: 100%; 
  font-size: 17px;
} 

.form-block-100 label, .form-block-25 label{ 
font-weight: 600;
}

.form-content {
  padding: 20px 20px 20px 20px;
}

textarea.form-control{
  resize:none;
}



.button-right {
  
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}