.tabs{
  color: #5e5e5e;
  display: flex; 
  padding: 0px 0px ;
  margin: 0px 0px 0px 0px;
}
.tab-list  
{  
  display: block; 
  margin: 0px 0px;
  padding: 0px;
  width: -webkit-fill-available;
}

.tab-list ul 
{ 
  width: 100%; 
  display: flex; 
  margin: 0px 0px;
  padding: 0px;
}

.tab-list li
{ 
  width: 100%;
  display: block;
  text-align: center;
  margin: 0px ;
} 

.tab-list li .tab-button
{ 
  cursor: pointer;
  display: block;
  padding: 10px 10px;
  font-weight: 100;
  background:  #FAFAFA;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #eeeeee ;
  border-right: 0px solid #ffffff ;
  height: 45px;
}

 

.tab-list .active .tab-button
{  
  border: 1px solid #eeeeee; 
  background:  #EEEEEE;
}
.tab-list li:first-letter div 
{  
  border-left: 1px solid #ECECEC; 
}

.tab-list li .tab-button:hover
{  
  background:  #FAFAFA;
  background:  #EEEEEE;
}

.tab-list .active .tab-button:hover
{ 
  border: 1px solid #ECECEC;
  background:  #FAFAFA;
  background:  #EEEEEE;
}


.tab-button__title {
  
  font-size: 15px;
}

.tab-button__title_one {
  padding: 0px 10px 15px 10px;
  font-size: 15px;
} 
.tab-button__hint {
  cursor: pointer;
  display: block;
  text-decoration: none;
  font-size: 12px;
}
.tab-button__hint_hide {
  display: none;
}
.tab-info-block {
  width: 40%;
  display: flex;
  padding: 2px 10px;
  font-weight: 500;
  background: #ffffff;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #ffffff;
  height: 61px;
}
.tab-info-block_name {
  color: #a1a1a1;
  font-size: 22px;
  padding: 12px 2px;

}
.tab-info {
  display: block;
  width: 100%; 
}
.tab-info_hint {
  font-weight: bold;
  font-size: 12px; 
}
.tab-info_name { 
  padding: 3px 0px; 
}
.minus {
  color: #a83636;
}
.tab-link {

}
.tab-list:last-child
{ 
  border-right: 1px solid #EEEEEE;
}
.tab-list li  
{ 
 
}
